    body {
      font-family: 'Rampart One', cursive;
    }

    .image {
      display: flex;
      width: 90%;
      margin: auto;
    }

    .game-table {
      border: 1px solid yellow;
    }

    .cell {
      background-color: green;
      border: 1px solid black;
      border-radius: 2%;
      width: 100px;
      height: 100px;
    }

    .cursor {
      cursor: auto;
      cursor: url('../img/Cursor-PNG-Photo-cf239fcf.png'), auto;
    }

    .hide {
      display: none;
    }
